In [2]:
import pandas as pd
import datetime

df = pd.read_csv("/content/input.csv")

df["Last_Compensation"] = ""
df["Last_Pay_Raise_Date"] = ""
df["Variable_Pay"] = ""
df["Tenure_in_Org"] = ""
df["Performance_Rating"] = ""
df["Engagement_Score"] = ""
df["Effective_Date"] = ""
df["End_Date"] = ""

for index, row in df.iterrows():
    current_compensation = row["Compensation"]
    current_lcompensation = row["Compensation 2"]
    current_lpayrasiday = row["Compensation 2 date"]
    current_performancerating = pd.to_numeric(row["Review 1"]) + pd.to_numeric(row["Review 2"])
    current_escore = pd.to_numeric(row["Engagement 1"]) + pd.to_numeric(row["Engagement 2"])
    current_effdate = row["Date of Joining"]
    current_endate = row["Date of Exit"]

    # Update the history columns with the current row's historical data
    df.at[index, "Compensation"] = current_compensation
    df.at[index, "Last_Compensation"] = current_lcompensation
    df.at[index, "Last_Pay_Raise_Date"] = current_lpayrasiday
    df.at[index, "Performance_Rating"] = current_performancerating
    df.at[index, "Engagement_Score"] = current_escore
    df.at[index, "Effective_Date"] = current_effdate
    df.at[index, "End_Date"] = current_endate

In [3]:


def ensure_no_overlap(df):

    for index in range(len(df)):
        if index == len(df) - 1:
            # Set a far-future date for the last employee
            df.at[index, "End_Date"] = "2100-01-01"
        else:
            next_effdate = pd.to_datetime(df.at[index + 1, "Effective_Date"])
            df.at[index, "End_Date"] = (next_effdate - pd.DateOffset(days=1)).strftime("%Y-%m-%d")

    return df

# Apply the function to ensure no overlap and assign far-future date
df = ensure_no_overlap(df)

# Display the DataFrame
print(df[['Effective_Date', 'End_Date']])

  Effective_Date    End_Date
0     2021-01-01  2020-12-31
1     2021-01-01  2020-12-31
2     2021-01-01  2100-01-01

In [4]:
print(df)

   Employee Code  Manager Employee Code Date of Joining Date of Exit  \
0              1                    NaN      2021-01-01          NaN
1              2                    1.0      2021-01-01          NaN
2              3                    1.0      2021-01-01   2023-12-31

   Compensation  Compensation 1 Compensation 1 date  Compensation 2  \
0         20000             NaN                 NaN             NaN
1         20000         10000.0          2022-01-01         20000.0
2         20000         10000.0          2022-01-01         20000.0

  Compensation 2 date  Review 1  ... Engagement 2  Engagement 2 date  \
0                 NaN       NaN  ...          NaN                NaN
1          2023-01-01       9.0  ...          5.0         2022-03-01
2          2023-01-01       9.0  ...          5.0         2022-03-01

  Last_Compensation  Last_Pay_Raise_Date Variable_Pay  Tenure_in_Org  \
0               NaN                  NaN
1           20000.0           2023-01-01
2           20000.0           2023-01-01

  Performance_Rating Engagement_Score Effective_Date    End_Date
0                NaN              NaN     2021-01-01  2020-12-31
1               18.5              9.0     2021-01-01  2020-12-31
2               18.5              9.0     2021-01-01  2100-01-01

[3 rows x 25 columns]

In [5]:
# Drop unnecessary columns
df.drop(df.columns[[3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]], axis=1, inplace=True)

# Get the values as a NumPy array
df_values = df.values

# Iterate over the rows and print each row without keys and brackets
for row in df_values:
    print(' '.join(map(str, row)))

1 nan 2021-01-01 nan nan   nan nan 2021-01-01 2020-12-31
2 1.0 2021-01-01 10000.0 2023-01-01   18.5 9.0 2021-01-01 2020-12-31
3 1.0 2021-01-01 10000.0 2023-01-01   18.5 9.0 2021-01-01 2100-01-01

In [6]:
print(df)

   Employee Code  Manager Employee Code Date of Joining  Compensation 1  \
0              1                    NaN      2021-01-01             NaN
1              2                    1.0      2021-01-01         10000.0
2              3                    1.0      2021-01-01         10000.0

  Last_Pay_Raise_Date Variable_Pay Tenure_in_Org Performance_Rating  \
0                 NaN                                           NaN
1          2023-01-01                                          18.5
2          2023-01-01                                          18.5

  Engagement_Score Effective_Date    End_Date
0              NaN     2021-01-01  2020-12-31
1              9.0     2021-01-01  2020-12-31
2              9.0     2021-01-01  2100-01-01

In [7]:
df.to_csv("output.csv", index=False)